 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  :root
  {
    --black: #333;
    --white: #fff;
  }
  
    /*navbar-------*/
    nav{
      display:flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
     /* background-color: rgb(107, 129, 115);*/
      font-family: 'Rubik', sans-serif;
    }
    
    .navlinks{
      display: flex;
      width:50%;
      justify-content: space-around;
    
    }
    .navlinks a{
      color: var(--black);
      text-decoration: none;
      letter-spacing: 5px;
      font-weight: bold;
      font-size: 15px;
    
    }
    .navlinks li{
      list-style: none;
    }
    
    .container6{
    max-width: 1170px;
    margin: auto;
    }
  
    .row{
      display: flex;
      flex-wrap: wrap;
    }
  
  ul{
    list-style: none;
  
  }
  
  footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .footer {
      background-color: rgb(107, 129, 115);
      padding: 70px 0;
  
    }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
  font-size: 18px;
  color:rgb(255, 255, 255);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  letter-spacing: .11em;
  font-weight: 500;
  position: relative;
  
  }
  
  .footer-col h4::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(255, 255, 255);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    font-family:'Roboto', sans-serif;
        font-display: thin 100;
    text-transform: capitalize;
    color:white;
    text-decoration: none;
    font-weight: 300;
    color:rgb(255, 255, 255);
    display:block;
    transition:all 0.3s ease;
  
  }
  .footer-col ul li a:hover {
  color: rgb(137, 137, 137);
  padding-left: 6px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }